body {
    background-color: rgb(212, 212, 212);
    font-family: sans-serif;
    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
    background-color: rgb(140, 140, 201);
    margin: 30px 0px 4px 0px;
    color: rgb(20, 20, 95);
}

p {
    font-size: 13px;
}

#p1 {
    text-align: center;
    margin: 0;
    padding: 2px;
}

h2 {
    background-color: rgb(184, 184, 184);
    padding: 10px;
    color: rgb(20, 20, 99);
    border-bottom: 2px solid rgb(20, 20, 99);
    margin-top: 40px;
}

h3 {
    font-size: 13px;
}

a {
    color: blue;
    text-decoration: none;
    font-weight: 800;
}